@page
@model ProductsModel
@{
    ViewData["Title"] = "Products";
}

<div class="row mb-4">
    <div class="col">
        <h1>Products</h1>
    </div>
    <div class="col text-end">
        <a asp-page="./ProductCreate" class="btn btn-primary">Create New Product</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Category</td>
                <td>
                    <a asp-page="./ProductDetails" asp-route-productId="@product.Id" class="btn btn-primary btn-sm">View
                        Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Pagination", Model.PaginationModel)
